* {
	margin: 10px 10px 10px 10px;
	padding: 0px 5px;
	font-family: "Arial", "Verdana", sans-serif;
}

.grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 25% 25% 25% 25%;
}

header {
	grid-column: 1;
	grid-row: 1;
}

@mixin faded($offset, $blur-radius, $spread-radius)
{
    &.faded-left:after {
        box-shadow: inset $offset 0 $blur-radius (-$spread-radius);
    }

    &.faded-right:after {
        box-shadow: inset (-$offset) 0 $blur-radius (-$spread-radius);
    }

    &.faded-top:after {
       box-shadow: inset 0 $offset $blur-radius (-$spread-radius);
    }

    &.faded-bottom:after {
        box-shadow: inset 0 (-$offset) $blur-radius (-$spread-radius);
    }

    &.faded-left.faded-right:after {
        box-shadow: inset $offset 0 $blur-radius (-$spread-radius), inset (-$offset) 0 $blur-radius (-$spread-radius);
    }

    &.faded-left.faded-top:after {
        box-shadow: inset $offset ($offset) $blur-radius (-$spread-radius);
    }

    &.faded-right.faded-bottom:after {
        box-shadow: inset (-$offset) (-$offset) $blur-radius (-$spread-radius);
    }

    &.faded-top.faded-right:after {
        box-shadow: inset (-$offset) $offset $blur-radius (-$spread-radius);
    }

    &.faded-top.faded-bottom:after {
       box-shadow: inset 0 $offset $blur-radius (-$spread-radius), inset 0 (-$offset) $blur-radius (-$spread-radius);
    }

    &.faded-left.faded-bottom:after {
        box-shadow: inset $offset (-$offset) $blur-radius (-$spread-radius);
    }

    &.faded-top.faded-right.faded-bottom:after {
        box-shadow: inset (-$offset/2) 0 $blur-radius $spread-radius;
    }

    &.faded-left.faded-right.faded-bottom:after {
        box-shadow: inset 0 (-$offset/2) $blur-radius $spread-radius;
    }

    &.faded-left.faded-top.faded-bottom:after {
        box-shadow: inset ($offset/2) 0 $blur-radius $spread-radius;
    }

    &.faded-left.faded-top.faded-right:after {
        box-shadow: inset 0 ($offset/2) $blur-radius $spread-radius;
    }

    &.faded-all:after, &.faded-left.faded-top.faded-right.faded-bottom:after {
        box-shadow: inset 0 0 $blur-radius $spread-radius;
    }
}




$faded-offset: 40px !default;
$faded-blur-radius: 40px !default;
$faded-spread-radius: 16px !default;

$faded-narrow-offset: 20px !default;
$faded-narrow-blur-radius: 20px !default;
$faded-narrow-spread-radius: 10px !default;

$faded-wide-offset: 80px !default;
$faded-wide-blur-radius: 80px !default;
$faded-wide-spread-radius: 28px !default;

.faded {
    position: relative;
    display: inline-block;
    color: white;

    &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-collapse: separate;
    }

    @include faded($faded-offset, $faded-blur-radius, $faded-spread-radius);

    &.faded-narrow {
        @include faded($faded-narrow-offset, $faded-narrow-blur-radius, $faded-narrow-spread-radius);
    }

    &.faded-wide {
        @include faded($faded-wide-offset, $faded-wide-blur-radius, $faded-wide-spread-radius);
    }
}

nav {
	grid-column: 2;
	grid-row: 1;
	line-height: 1.5em;

}

.input {
	grid-column: 1;
	grid-row: 2;
	line-height: 1.5em;
	text-indent: 20px;
}

.output {
	grid-column: 1;
	grid-row: 3;
	line-height: 1.5em;
	text-indent: 20px;
}


.projects {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 50% 50%;
	grid-column: 1 / 4;
	grid-row: 4;
	line-height: 1.5em;
}

#project1 {
	grid-column: 1;
	grid-row: 2;
	line-height: 1.5em;
}

#project2 {
	grid-column: 2;
	grid-row: 2;
	line-height: 1.5em;
}

#project3 {
	grid-column: 3;
	grid-row: 2;
	line-height: 1.5em;
}

footer {
	grid-column: 1 / 4;
	grid-row: 4;
	background-color: #223A5E;
	color: white;
	text-align: center;
	line-height: 1.5em;
}

img, img.scale-with-grid { outline: 0; max-width: 100%; height: auto; }

a:link {
	color: #C48F65;
}
a:visited {
	color: #898E8C;
}
a:hover {
	color: #DC4C46;
}
a:active {
	color: #DC4C46;
}

#photo {
	float: left;
	margin: 0 0 10px 10px;
}