* {
	margin: 0;
	padding: 0;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 16% 16% 16% 16% 16% 16%;
	grid-template-areas:
	"header header header"
	"nav nav nav"
	"about about about"
	"projects projects projects"
	"project1 project2 project3"
	"footer footer footer";
}

header {
	grid-area: header;
	background-color: orange;
}

nav {
	grid-area: nav;
}

.about {

	grid-area: about;
	background-color: purple;
}

.projects {
	grid-area: projects;
}

#project1 {
	grid-area: project1;
	background-color: orange;
}

#project2 {
	grid-area: project2;
}

#project3 {
	grid-area: project3;
}

footer {
	grid-area: footer;
	background-color: teal;
}